body {
  background-color: #f2ffe9;
}
hr.dots {
  border-style: none;
  border-top: dotted;
  border-color: #a6cf98;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #10cca4;
}
h3 {
  color: #10cca4;
}
