body {
  margin: 0px;
  background-color: #829ebc
}
.responsivebanner{
  width: 65%;
  height: auto;
}
.responsivename{
  width: 30% ;
  height: auto;
  position: relative;
  top: 30px;
}
.dots {
  border-style: none;
  border-top: dotted;
  border-color: #f8c444;
  border-width: 5px;
  width: 5%;
}
hr {
  border-color: #f8c444;
}
.title {
  background-color: #395c93;
  margin-top: 0px;
  padding: 20px;
  border: 10px;
  text-align: center;
}
.profil {
  font-family: 'Roboto Mono', monospace;
  color: #f8c444;
  text-align: center;
}
.top-container{
  background-color: #829ebc ;
}
h3 {
  font-family: 'Roboto Mono', monospace;
  color: #ffb700;
  margin-left: 3%;
}
p {
  font-family: 'Roboto Mono', monospace;
  margin-left: 6%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: black;
  background-color: transparent;
  margin: 10px 20px 10px 50px ;
}
.footer{
  background-color: #395c93;
  padding-bottom: 2%;
}
.color-a {
  color: #006400;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #ffb700;
  background-color: transparent;
  text-decoration: underline;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.bg-navbar {
  background-color: #395c93;
  
}
.nav-linke {
  color: #EAF6F6;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  margin: 45px;
}
.nav-linke:hover {
  color:#ffb700 ;
  background-color: transparent;
  text-decoration: none;
}